:root {
  --white: white;
  --light-gray: #f0f0f0;
  --dark-gray: #6c6c6c;
  --black: #1e1e1e;
  --yellow: #f99c14;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear negative percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  grid-template-columns: 100px 100px 100px 100px;
  gap: 20px;
  padding: 50px;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--black);
  box-shadow: 9px 9px 15px;
  height: 700px;
  perspective: 1000px;
}
h1{
  color: white;
}
.light-btn {
  background-color: var(--light-gray);
}

.dark-btn {
  background-color: var(--dark-gray);
  color: white;
}

.yellow-btn {
  background-color: var(--yellow);
  color: white;
}

button {
  height: 80px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  border-radius: 10px;
}

button:active {
  transform: scale(0.9);
  font-size: 30px;
  font-weight: 1000;
}

#answer {
  font-size: 48px;
  height: 48px;
}

#expression {
  font-size: 30px;
  height: 30px;
  color: var(--dark-gray);
}

#display {
  grid-area: display;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 100px;
  margin: 10px ;
  padding: 10px;
  border: 3px solid #1e1e1e;
  transform: translateZ(-50px);
  
}

#divide {
  grid-area: divide;
}

#clear {
  grid-area: clear;
}

#negative {
  grid-area: negative;
}

#percentage {
  grid-area: percentage;
}

#divide {
  grid-area: divide;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#multiply {
  grid-area: multiply;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#subtract {
  grid-area: subtract;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#add {
  grid-area: add;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
}